.footer
    background-color: white
    color: black
    text-align: center
    font-size: 0.6em
    padding: 0.1em
    position: fixed
    bottom: 0
    width: 100%

    a
        text-decoration: none
        color: rgb(48, 136, 21)

    a:nth-child(1)
        margin-left: 5em

    a:nth-child(2)
        margin-left: 1em

    a:nth-child(3)
        margin-left: 3em

    a:hover
        color: rgba(10, 149, 241, 0.3) !important

@media (max-width : 500px)
    .footer
        a
            margin: 0.2em

        a:nth-child(1)
            margin-left: 0.2em

    .foot-infos
        display: flex
