.logo
    cursor: pointer
    text-align: left
    margin-left: 1em

    a
        font-size: 2em

    img
        height: 64px
        width: auto
        vertical-align: middle

.navImg
    background-color: #fff
    width: 100vw
    display: flex

.langContainer
    display: flex
    justify-content: flex-end

    button
        border-style: none
        color: white
        background-color: rgb(45, 156, 207)
        border-radius: 1em
        padding: 0.4em
        margin: 0 0.2em 0 0.2em
        font-size: 0.75em

    p
        margin-left: 2em

    div
        display: inline-block

@media (max-width : 500px)
    .lang-container
        display: flex
        flex-wrap: wrap
        justify-content: center
