.logo
    cursor: pointer
    text-align: left
    margin-left: 1em

    a
        font-size: 2em

    img
        height: 64px
        width: auto
        vertical-align: middle

.navImg
    background-color: #fff
    width: 100vw
    display: flex

.langContainer
    display: flex
    justify-content: flex-end

    select
        font-size: 1.2em
